* {
  /*border-radius: 0 !important;*/
  /*-moz-border-radius: 0 !important;*/
}

body {
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

a, a.hover, a.active, a.focus {
  text-decoration: none!important;
}

h1 {
  font-family: 'Concert One', cursive;
}


h4 {
  font-size: 24px;
  color: #c51c22;
}

p {
  font-size: 18px;
}

.profile-box {
  padding: 26% 5% 0px 10%;
  max-width: 700px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .profile-box {
    padding: 20% 10% 40px 10%;
  }
}

.hero-box {
  background-color: #c51c22;
}

.faq {
  padding-left: 5%;
}

.headline {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
}

@media (max-width: 1200px) {
  .headline {
    font-size: 14px;
  }
}

.headline-large {
  font-size: 24px;
}

@media (max-width: 1200px) {
  .headline-large {
    font-size: 20px;
  }
}

.name {
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
  margin-bottom:20px;
}

@media (max-width: 1200px) {
  .name {
    font-size: 40px;
  }
}

.navbar {
  background: rgba(255,255,255,1);
  border: none;
  box-shadow: 0px 0px;
 /* position:fixed;*/
  width:100%; 
  z-index: 3;
  margin-bottom: 0px;
}

.nav.navbar-nav li a {
    color: #333333;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:focus {s
  color: #ABD1F4;
  background-color: transparent;
}

.navbar .navbar-nav {
  display: inline-block;
  float: left;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav li a {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .nav li a {
    padding-left: 60px;
  }
}

.social-media-icons:hover {
  opacity: 0.6;
}

.white {
  color: white;
}

.homepage {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0,0,0,0.3);
}

.hero-sm {
  font-size: 0.7em;
}

.no-margin {
  margin-bottom: 0px;
}

.hero-image {
  width: 100%;
}

.section-header {
  font-size: 2.4em;
  text-align:center;
  margin-top: 70px;
  margin-bottom: 25px;
}

#web-development {
  background-color: #FBFBFB;
  border-top: 2px solid #b5b5b5;
}

#product-management {
  background-color: #E2E2E2;
  border-top: 2px solid lightgrey;
}

#marketing-innovation {
  background-color: #D4D4D4;
  border-top: 2px solid #cccccc;
}

.footer {
 background-color: #d4d4d4;
}

.img-scale {
  max-width:70%;
  margin-bottom: 8%; 
}

.img-iphone-scale {
  max-width:30%;
  margin-bottom: 8%; 
}

.video-scale {
  padding-left: 16%;
  padding-right: 16%;
}

.video-bottom {
  margin-bottom: 16%;
}

video { 
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transition: 1s opacity;
}

#bgvid {
  display: block;
}

.shadow {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.inline {
  display: inline-block;
}





.inset {
  max-width: 520px;
  width: 100%;
  margin: 30px 0px;
}


.button {
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
  min-width: 100%;
  font-size: 15px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  background-color: rgb(74, 74, 74);
  border-color: rgb(74, 74, 74);
}

.button:hover {
  background-color: rgb(115, 115, 115);
  border-color: rgb(115, 115, 115);
}

.button.large {
    font-size: 16px;
    line-height: 38px;
    padding: 0 20px;
}

a.button {
    text-decoration: none!important;
}

.button.dark {
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 100px hsla(0,0%,100%,0);
  box-shadow: inset 0 0 0 100px hsla(0,0%,100%,0);
}

.spotlight .button {
    min-width: 100%;
    font-size: 15px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.bio {
  line-height: 1.8;
  font-weight: bold;
}

.bio .p {
  font-size: 14px;
  margin-bottom: .75em;
}

.meta-header {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 5px;
    margin-top: 20px;
}

.social-media-section {
  margin-top: 40px;
  padding-left: 0px;
}

.social-media-section li {
  display: inline-block;
  margin: 0px 20px 10px 0px;
}

.education-section {
  font-size: 12px;
  padding-left: 0px;
  margin-bottom: 30px;
}
